/**
* Body Fonts
* *********************************/
@font-face {
  font-family: YekanBakhFA;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/eot/Regular.eot");
  src: url("/fonts/eot/Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/woff/Regular.woff") format("woff"),
    url("/fonts/ttf/Regular.ttf") format("truetype");
}

@font-face {
  font-family: YekanBakhFA;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/eot/Medium.eot");
  src: url("/fonts/eot/Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/woff/Medium.woff") format("woff"),
    url("/fonts/ttf/Medium.ttf") format("truetype");
}

@font-face {
  font-family: YekanBakhFA;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/eot/Bold.eot");
  src: url("/fonts/eot/Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/woff/Bold.woff") format("woff"),
    url("/fonts/ttf/Bold.ttf") format("truetype");
}

@font-face {
  font-family: YekanBakhFA;
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/eot/Heavy.eot");
  src: url("/fonts/eot/Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/woff/Heavy.woff") format("woff"),
    url("/fonts/ttf/Heavy.ttf") format("truetype");
}

@font-face {
  font-family: YekanBakhFA;
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/eot/Fat.eot");
  src: url("/fonts/eot/Fat.eot?#iefix") format("embedded-opentype"),
    url("/fonts/woff/Fat.woff") format("woff"),
    url("/fonts/ttf/Fat.ttf") format("truetype");
}

/**
* Icon Fonts
* *********************************/
