/**
 * Theme colors
 * *********************************/
$color-primary--dark-2: #226099;
$color-primary--dark-1: #262263;
$color-primary: #20438a;
$color-primary--light-1: #4385c4;
$color-primary--light-2: #5894cc;

$color-secondary--dark-2: #0b0b1a;
$color-secondary--dark-1: #0a0a1f;
$color-secondary: #0d0e28;
$color-secondary--light-1: #0e1032;
$color-secondary--light-2: #0c0e38;

/**
  * Subsidary color
  * *********************************/
$color-alt-green: #43bb55;
$color-alt-green-light: #5dcc6d;

$color-alt-orange: #ffa556;
$color-alt-orange-light: #ffbf87;

$color-alt-blue: #4ebdda;
$color-alt-blue-light: #69c9d6;

$color-alt-red: #c01e2e;
$color-alt-red-light: #ed1c24;

$color-alt-magenta: #3f51b5;
$color-alt-magenta-light: #5164ce;

/**
  * Page background
  * *********************************/
$page-background: #eff0f3;
$page-foreground: #061532;

$selection-backgroud: #ddd;
$selection-foreground: #444;

/**
 * Common Color
 * *********************************/
$transparent: rgba(255, 255, 255, 0);

$divider-color: #ebedf2;

$error-color: #ff6666;

/**
  * Menu & list
  * *********************************/
$focus-state: #f9fafe;
$hover-state: #e7eaf4;
$active-state: #99a0b8;

/**
  * Grid
  * *********************************/
$dataGrid-active: #f1f0e5;
